---
import { getCollection } from "astro:content";
import { formatDateForBlog } from "../lib";
import TagButton from "./TagButton.astro";
const {category} = Astro.props;
const blogs = await getCollection('blog')
let sortedBlogs = blogs.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
if(category){
    const filteredBlogs = sortedBlogs.filter((blog) => blog.data.categories?.some((cat) => cat.slug === category))
    sortedBlogs = filteredBlogs
}
const { limit = 6 } = Astro.props;
const firstTwelvePost = sortedBlogs.slice(0, limit);
---

<ul>
    {firstTwelvePost.map(async item => {
      return (
        <li
          class="py-5  block border-b border-[#333] "
        >
          <span class=" text-xs text-gray-300">
            {formatDateForBlog(item.data.date)}
          </span>
          <a
            title={item.data.title}
            href={`/`+(item.slug)}
            class="text-xl md:text-2xl block hover:underline font-bold"
          >
            {item.data.title}
          </a>

          <div class="flex flex-row flex-wrap gap-2 pt-2">
            {item.data.categories?.map( async (category: { slug: string; }) => {
              const categoryEntries = await getCollection('categories', entry => entry.slug === category.slug)
              return (
                <TagButton href={`/category/${category.slug}`} title={categoryEntries[0].data.title}>
                  {categoryEntries[0].data.title}
                </TagButton>
              )
            })}
          </div>
        </li>
      )
    })}
  </ul>

